USE [master]
GO
/****** Object:  Database [QuanLySp]    Script Date: 5/24/2018 3:11:59 PM ******/
CREATE DATABASE [QuanLySp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLySp', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QuanLySp.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QuanLySp_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QuanLySp_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLySp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLySp]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 5/24/2018 3:11:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SanPham](
	[maSP] [nvarchar](4) NOT NULL,
	[tenSP] [nvarchar](50) NOT NULL,
	[soLuong] [int] NOT NULL,
	[soDienThoai] [varchar](12) NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[maSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[SanPham] ([maSP], [tenSP], [soLuong], [soDienThoai]) VALUES (N'ma01', N'Điện thoại', 10, N'56789043')
INSERT [dbo].[SanPham] ([maSP], [tenSP], [soLuong], [soDienThoai]) VALUES (N'ma02', N'Laptop', 21, N'31233213232')
INSERT [dbo].[SanPham] ([maSP], [tenSP], [soLuong], [soDienThoai]) VALUES (N'ma03', N'Nokia', 2, N'31333245')
/****** Object:  StoredProcedure [dbo].[timSP]    Script Date: 5/24/2018 3:11:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[timSP] @masp nvarchar(4)
as
begin

select * from SanPham sp where sp.maSP=@masp 
end
GO
USE [master]
GO
